---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About">
  <div class="mb-12">
    <div class="text-3xl text-center w-full font-bold">About</div>
  </div>
   <div class="text-xl text-center w-full font-medium">
  Just a guy that likes trading shitcoins 🤣 
     Also coding & learning
  </div>
    <div class="divider my-0 mb-12"></div>
</BaseLayout>
