---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About">
  <div class="mb-12">
    <div class="text-3xl text-center w-full font-bold">About</div>
  </div>
   <div class="text-xl text-center w-full font-medium">
  Just a guy that likes trading shitcoins 🤣
     <br/>
     Also coding & learning
  </div>
    <div class="divider my-0 mb-12"></div>
  <div class="text-xl text-center w-full font-medium">
    Safest place to buy Crypto? <a href="https://coinbase.com/join/RUPPE_O?src=referral-link">Coinbase</a>  
  </div>
   <div class="divider my-0 mb-12"></div>
  <div class="text-xl text-center w-full font-medium">
    Need a non-custodial wallet? 
    <a class="link" "https://metamask.io/">Metamask Wallet</a> for Ethereum, Polygon, Binance Smart Chain
    <br/>
    <a href="https://phantom.app/">Phantom Wallet</a> for Solana
  </div>
   <div class="divider my-0 mb-12"></div>
  <div class="text-xl text-center w-full font-medium">
    Wanna learn about DeFi? 
    <a class="link" "https://cryptofinally.io/defi-hub-start-page">Cryptofinally DeFi Hub</a>  
  </div>
</BaseLayout>
