---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About">
  <div class="mb-10">
    <div class="text-3xl w-full font-bold">About</div>
  </div>

  <div class="mb-10">
Just a guy who enjoys buying shitcoins, coding & learning new things
  </div>

 
</BaseLayout>
