---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About">
 <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-content sm:text-4xl text-align">About</h1>
          <p class="mt-6 text-2xl leading-8 text-content text-align">Just a guy who enjoys trading shitcoins, coding & learning</p>
        </div>
      </div>
    </div>
</BaseLayout>
