---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About">
  <div class="mb-5">
    <div class="text-2xl text-center w-full font-medium">About</div>
  </div>
   <div class="divider my-0"></div>
  Just a guy that likes trading shitcoin, coding & learning
     <div class="divider my-0"></div>
</BaseLayout>
