---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "About">
  <div class="mb-10">
    <div class="text-3xl w-full font-bold">About</div>
  </div>

  <div class="mb-10 text-justify">
    Degenerate gambler who enjoys crypto & defi
  </div>

 
</BaseLayout>
