---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5265597461872915"
     crossorigin="anonymous"></script>   

  <BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-3xl py-3 font-bold">3IC Blog</div>
      <div class="py-2">
        <text class="text-xl">
         Thoughts on crypto & other topics
          </text
        >
      </div>
  
    <div>
      <div class="text-2xl w-full font-bold mb-5 mt-10">Latest Blog Posts</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5265597461872915"
     crossorigin="anonymous"></script> 
      
</BaseLayout>
